# Environment variables
.env

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# OS / editor files
.DS_Store
.vscode/*.log

# Build outputs
dist/
build/
*.egg-info/
